.doing {
  height: 89rem;
  position: relative;
  padding-bottom: 160px;
  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-item {
    width: calc(25% - 25px);
    &-image {
      padding-top: 5rem;
      text-align: center;
      font-size: 42px;
      padding-bottom: 35px;
      color: #23b7a4;
    }
    &-info {
      .title {
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom: 30px;
        text-align: center;
      }
      .desc {
        line-height: 25px;
        text-align: center;
        color: $text-color;
        font-size: 1.5rem;
      }
    }
  }
}
