.footer {
  height: 10rem;
  background-color: $color_primary;
  border-top: 2px solid white;
  &-info {
    display: flex;
    align-items: center;
    line-height: 10rem;
  }
  &-title {
    color: white;
    font-size: 1.6rem;
  }
  &-social {
    margin-left: auto;
    display: flex;
    align-items: center;
    &-item {
      padding-right: 2rem;
    }
  }
}
