*,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: white;
  color: #1d2126;
  margin-bottom: 100px;
}

ul,
li {
  text-decoration: none;
}

.wrapper {
  max-width: 1900px;
  margin: 0 auto;
  background-color: white;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 18px 25px;
  color: white;
  text-transform: uppercase;
  border-radius: 6px;
  margin-top: 30px;
  background-color: transparent;
  border: 2px solid white;
  margin-right: 10px;
  outline: none;
}

.button:hover {
  background-color: #23b7a4;
  border: 2px solid transparent;
}

.heading h2 {
  padding-top: 80px;
  padding-bottom: 60px;
  padding-left: 30px;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}

.heading:before {
  content: "";
  height: 35px;
  width: 10px;
  background-color: #e1e6ea;
  position: absolute;
  top: 78px;
  left: 0;
}

.header {
  background-color: #1d2126;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.header-logo {
  margin-left: 380px;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  margin-right: 100px;
}
.header-menu-item {
  margin-right: 40px;
  display: inline-block;
  padding: 8px 10px;
  border: 3px solid transparent;
}
.header-menu-item:hover {
  color: #23b7a4;
  border-radius: 6px;
  border-color: #23b7a4;
}
.header-menu-link {
  color: #a4aead;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
}

.banner {
  background-image: url("./images/banner.png");
  height: 660px;
}
.banner-info {
  padding-top: 220px;
  padding-left: 380px;
}
.banner-heading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 36px;
  color: white;
}
.banner-desc {
  padding: 21px 39px 40px 20px;
  color: #a4aead;
  height: 77px;
  width: 740px;
  background-color: #2b2d35;
  line-height: 22px;
  opacity: 0.8;
}

.modest {
  position: relative;
  border-bottom: 1px solid #a4aead;
}
.modest-content {
  display: flex;
  justify-content: space-between;
}
.modest-info {
  padding-bottom: 100px;
  max-width: 650px;
}
.modest-desc p {
  line-height: 25px;
  color: #b8b9bb;
  padding-bottom: 35px;
}
.modest-social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 35px;
}
.modest-social-item {
  padding: 20px;
  background-color: #c8cdd0;
  margin-right: 1px;
  color: white;
  width: 60px;
  height: 60px;
}
.modest-social-item i {
  text-align: center;
}
.modest-list {
  margin-left: 35px;
  max-width: 450px;
}
.modest-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.modest-item span {
  display: block;
  width: 89px;
  height: 50px;
  background-color: #23b7a4;
  color: white;
  margin-right: 20px;
  text-align: center;
  line-height: 50px;
}
.modest-item-title {
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 20px;
}
.modest-item-title h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}
.modest-item-title p {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 40px;
}

.team {
  position: relative;
  max-width: 1140px;
  margin-bottom: 100px;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team-item {
  width: calc(25% - 22.5px);
  margin-top: 60px;
}
.team-item-info {
  height: 75px;
  background-color: #e1e6ea;
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 20px;
}
.team-item-name {
  padding-bottom: 10px;
  font-size: 18px;
}
.team-item-desc {
  font-size: 16px;
  color: #a4aead;
}

.work {
  position: relative;
  background-color: #3a454d;
}
.work-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work-item {
  width: calc(33.33% - 20px);
  padding-bottom: 30px;
}
.work-button {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 60px;
}

.doing {
  position: relative;
  padding-bottom: 160px;
}
.doing-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.doing-item {
  width: calc(25% - 25px);
}
.doing-item-image {
  padding-top: 90px;
  text-align: center;
  font-size: 42px;
  padding-bottom: 35px;
  color: #23b7a4;
}
.doing-item-info .title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 30px;
  text-align: center;
}
.doing-item-info .desc {
  line-height: 25px;
  text-align: center;
  color: #a4aead;
}

/*# sourceMappingURL=style.css.map */
